# .coveragerc
[run]
source = FiberFusing
branch = True
relative_files = True
parallel = True
omit =
    **/__init__.py
    FiberFusing/_version.py
    FiberFusing/directories.py
    FiberFusing/**/__main__.py

[report]
skip_covered = True
show_missing = True
precision = 2

[html]
directory = htmlcov

[xml]
output = coverage.xml
